nav.top {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}

nav.top span {
    margin-right: 20px;
}

nav.top span{
    color: #999;
    margin: 0px 10px 0px 10px;
}

nav.top logo{
    color: #0066FF;
}

nav.top {
    background-color: #f2f2f2;
}

nav.top div.row div {
    margin: 5px 0px;
}

.footer{
    size: 12px;
}

nav.top div.row div {
    background-color: lightgray;
    border: 1px solid gray;
    text-align: center;
}
